/*公共样式*/
html,body {
	font-family: microsoft yahei,sans-serif;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: grayscale!important;
    color: #555;
    width: 100%!important;
    height: 100%!important;
}

p {
	font-family: microsoft yahei,sans-serif;
}

a {
	color: #fff;
}

a:hover,a:focus {
	text-decoration: none;
	color: #f4d03f;
}

ul,ol {
	list-style: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

*html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.section-title {
	/*margin-top: 150px;*/
	color: #fff;
}

.section-title h2 {
	color: #fff;
	display: inline-block;
	padding: 15px 10px;
	border-bottom: 2px solid #fff;
	font-weight: 600;
}
/*导航条样式*/
.navbar-custom {
	margin-bottom: 0;
	text-transform: uppercase;
	background-color: #000;
}

.navbar-custom .navbar-brand {
	font-weight: 600;
}

.navbar-custom .navbar-brand{
	color: #fff;
}

.navbar-custom a {
	color: #fff;
}

.navbar-custom .nav li a {
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
	outline: 0;
	/*color: #f4d03f;*/
	color: #fff;
	font-weight: 700;
	background-color: transparent;
}

.navbar-custom .nav li a:focus,.navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	/*color: #f4d03f;*/
	color: #fff;
}

.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,0.3);
	font-weight: 700;
}

.navbar-custom .nav li.active a:hover {
	color: #fff;
}

@media(min-width:768px) {
.navbar-custom {
	/*padding: 20px 0;*/
	border-bottom: 0;
	letter-spacing: 1px;
	/*background: 0 0;*/
	-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
	transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.navbar-custom.top-nav-collapse {
	padding: 0;
	background: #000;
}
}


/*首页样式*/
.head-container {
	display: table;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: url('./../image/bg1.jpg') no-repeat center center #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	/*background-attachment: fixed*/
}

.head-box {
	display: table-cell;
	vertical-align: middle;
	background: rgba(255,255,255,0.2);
	/*background: rgba(0,0,0,0.2)*/
}

.go {
	margin: 0 auto;
	margin-top: 80px;
	width: 70px;
	height: 70px;
	border: 2px solid rgba(255,255,255,0.2);
	border-radius: 100%!important;
	font-size: 40px;
	color: #f4d03f;
	background: 0 0;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	margin-bottom: 0px;
	vertical-align: middle;
}

.go .iconfont {
	position: relative;
	top: 3px;
	font-size: 28px;
}

.go:hover,.go:focus {
	outline: 0;
	color: #f4d03f;
	background: rgba(255,255,255,0.1);
}

.go div.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.go:hover div.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
0% {
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
50% {
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
100% {
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
}

@-moz-keyframes pulse {
0% {
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
50% {
	-moz-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
100% {
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
}

.go .goo {
	margin: 0;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

@media(max-width: 768px) {
.head {
	width: 100%;
	height: 100%;
	padding: 0;
}
}

/*简介模块样式*/
#about {
	color: #fff;
	background: url('./../image/bg10.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
}

#about .about-bg {
	padding: 100px 0;
	background: rgba(0,0,0,0.5);
}

#about .about-info-box {
	margin-top: 60px;
}

#about .about-logo {
	display: inline-block;
	border: 3px solid #fff;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	padding: 30px;
	font-size: 50px;
	line-height: 50px;
}

.about-box:hover span {
	box-shadow: 0 0 15px #fff;
	color: #30d33b;
	opacity: 0.8;
}

.about-box h4,p {
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.about-box:hover h4 {
	color: #30d33b;
}

.about-box:hover p {
	color: #30d33b;
}

#about .about-logo:hover {
	box-shadow: 0 0 15px #fff;
	color: #30d33b;
	opacity: 0.8;
}

.about-box span.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.about-box:hover span.animated {
	-webkit-animation-name: pul;
	-moz-animation-name: pul;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}


@-webkit-keyframes pul {
0% {
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
50% {
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
100% {
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
}

@-moz-keyframes pul {
0% {
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
50% {
	-moz-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
100% {
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
}

#about h4 {
	padding-top: 50px;
}

#about p {
	padding-top: 5px;
}


/*技能掌握模块样式*/
#master .section-title h2{
	color: #555;
	border-color: #555;
}

#master .container {
	padding: 100px 130px;
}

#master .master-pic {
	position: relative;
	margin-top: 50px;
	width: 100%;
	float: left;
	text-align: left;
	/*background: rgba(255,255,255,0.2);*/
}

#master .master-box {
	padding: 5px 0;
}

#master h4 {
	display: inline-block;
	padding-right: 20px;
}

#master span {
	font-size: 16px;
	padding: 5px 0;
	text-align: center;
	/*border: 2px solid #fff;*/
	border-radius: 5px;
	color: #555;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	cursor: pointer;
}

#master .master-intro {
	display: none;
	margin: 0 auto;
	margin-top: 20px;
	width: 500px;
	height: 50px;
	border: 2px solid #555;
	border-radius: 10px;
	color: #555;
	font-size: 16px;
}


/*我的作品模块样式*/
#works {
	background: url('./../image/bg5.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

#works .works-bg {
	padding: 100px 0;
	background: rgba(0,0,0,0.5);
}

#works .works-box {
	margin-top: 50px;
	padding: 0 50px;
}

#works .works-item {
	margin-bottom: 50px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	/*overflow: hidden;*/
	cursor: pointer;
}

#works .works-item:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#works .hover-bg {
	position: relative;
	text-align: center;
	padding: 0;
	margin: 0;
}

#works .works-item:hover .hover-text {
	opacity: 1;
}

#works .hover-bg .hover-text {
	position: absolute;
	left: 50%;
	width: 160px;
	margin-left: -80px;
	opacity: 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
	height: 100%;
}

#works .hover-text h4 {
	margin-top: 30px;
}

#works .hover-text div {
	display: inline-block;
	margin-top: 30px;
	padding: 0 10px;
}

#works .hover-text div .iconfont {
	font-size: 35px;
}

#works .hover-text div a {
	color: #fff;
	opacity: 0.6;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#works .hover-text div a:hover {
	color: #fff;
	text-decoration: none;
	opacity: 1;
}

#works .hover-bg img {
	width: 160px;
	height: 200px;
	/*border: 2px solid #fff;*/
	border-radius: 5px;
	box-shadow: 0 0 15px #fff;
}



/*个人履历模块样式*/
#experience .section-title h2{
	color: #555;
	border-color: #555;
}

#experience .container {
	padding: 100px 0;
}

#experience .experience-box {
	position: relative;
	margin-top: 50px;
}

#experience .experience-item {
	position: relative;
	padding: 0px 160px;
	margin: 15px 0;
	text-align: left;
}

#experience .time {
	display: inline-block;
	position: absolute;
	top: 0;
	margin-left: 55px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

#experience .experience-item:hover .time {
	color: #46b036;
}

#experience .experience-item:hover .experience-detail h4 {
	color: #46b036;
}

#experience .experience-item:hover span {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

#experience .time h4 {
	display: inline-block;
	padding-left: 5px;
	font-weight: 550;
}

#experience .experience-detail {
	display: inline-block;
	text-align: left;
	padding-left: 220px;
}

#experience .experience-detail h4{
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

#experience span {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#experience span:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

#experience .experience-detail h4 {
	font-weight: 550;
}

#experience .experience-item .circle-icon {
	position: absolute;
	top: 0;
	margin-left: 160px;
	margin-top: 8px;
	width: 20px;
	height: 20px;
	/*background: rgba(255,255,255,0.5);*/
	background: #fff;
	border: 3px solid #46b036;
	border-radius: 50%;
	z-index: 5;
	cursor: pointer;
}

#experience .experience-item .circle-icon-big {
	position: absolute;
	top: 0;
	margin-left: 152px;
	/*margin-top: -15px;*/
	width: 36px;
	height: 36px;
	/*background: rgba(255,255,255,0.5);*/
	background: #fff;
	border: 3px solid #46b036;
	border-radius: 50%;
	z-index: 5;
	cursor: pointer;
}

#experience .cross-line {
	position: absolute;
	margin-left: 325px;
	width: 10px;
	height: 400px;
	background: #46b036;
	border-radius: 10px;
	z-index: 1;
}


/*联系我模块样式*/
#contact .section-title h2{

}

#contact {
	/*padding: 100px 0;*/
	background: url('./../image/bg2.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
}

#contact .contact-bg {
	background: rgba(0,0,0,0.5);
}

#contact .container {
	padding: 100px 0;
}

#contact .logo-box {
	margin: 0 auto;
	margin-top: 30px;
	padding: 60px 0;
	width: 300px;
}

#contact .logo-box .div {
	display: inline-block;
}

#contact .logo-box a {
	color: #fff;
	position: relative;
}

#contact .logo-box .iconfont {
	font-size: 22px;
}

#contact .logo-box a:hover {
	text-decoration: none;
	color: green;
}

#contact .logo-box a:visited {
	text-decoration: none;
}

#contact .logo-box a:link {
	text-decoration: none;
}

#contact .tip-box {
	display: none;
	position: absolute;
	background: black;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 4px 10px;
	top: -36px;
	left: -10px;
	z-index: 1;
}

#contact .tip-triangle {
	display: none;
	/*display: inline-block;*/
	position: absolute;
	width: 8px;
	height: 8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: black;
	transform: rotate(-45deg);
	z-index: 5;
	top: -10px;
	left: 3px;
}

#contact .logo-box a:hover .tip-box {
	display: inline-block;
}

#contact .logo-box a:hover .tip-triangle {
	display: inline-block;
}

#contact .words-box {
	color: #fff;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
	width: 600px;
	height: 200px;
}

#contact .words-box ul {
	position: relative;
	z-index: 1;
}

#contact .words-box li {
	position: absolute;
	left: 0;
	top: 0;
	/*display: inline-block;*/
	height: 200px;
	width: 600px;
	border: 2px solid #fff;
	border-radius: 15px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 200px;
	background: rgba(255,255,255,0.2);
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#contact .circle-box span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#contact .circle-box .current {
	background: green;
	border: 2px solid #fff;
}

#contact .circle-box span:hover {
	background: green;
}

