/*公共样式*/
html,body {
	font-family: microsoft yahei,sans-serif;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: grayscale!important;
    color: #555;
    width: 100%!important;
    height: 100%!important;
}

p {
	font-family: microsoft yahei,sans-serif;
}

a {
	color: #fff;
}

a:hover,a:focus {
	text-decoration: none;
	color: #f4d03f;
}

ul,ol {
	list-style: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

*html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

.section-title {
	margin-top: 150px;
}
/*导航条样式*/
.navbar-custom {
	margin-bottom: 0;
	text-transform: uppercase;
	background-color: #000;
}

.navbar-custom .navbar-brand {
	font-weight: 600;
}

.navbar-custom .navbar-brand{
	color: #fff;
}

.navbar-custom a {
	color: #fff;
}

.navbar-custom .nav li a {
	-webkit-transition: background font-weight 0.3s ease-in-out;
	-moz-transition: background font-weight 0.3s ease-in-out;
	transition: background font-weight 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
	outline: 0;
	/*color: #f4d03f;*/
	color: #fff;
	font-weight: 700;
	background-color: transparent;
}

.navbar-custom .nav li a:focus,.navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	/*color: #f4d03f;*/
	color: #fff;
	font-weight: 700;
}

.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,0.3);
}

.navbar-custom .nav li.active a:hover {
	color: #fff;
}


/*简介模块样式*/
.head-container {
	display: table;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: url('./../image/bg5.jpg') no-repeat top center #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	/*background-attachment: fixed*/
}

.head-box {
	display: table-cell;
	vertical-align: middle;
	background: rgba(0,0,0,0.4);
}

.go {
	margin: 0 auto;
	margin-top: 80px;
	width: 70px;
	height: 70px;
	border: 2px solid rgba(255,255,255,0.2);
	border-radius: 100%!important;
	font-size: 40px;
	color: #f4d03f;
	background: 0 0;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	margin-bottom: 0px;
}

.go:hover,.go:focus {
	outline: 0;
	color: #f4d03f;
	background: rgba(255,255,255,0.1);
}

.go div.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.go:hover div.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
0% {
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
50% {
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
100% {
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
}

@-moz-keyframes pulse {
0% {
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
50% {
	-moz-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
100% {
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
}

.go .goo {
	margin: 0;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

@media(max-width: 768px) {
.head {
	width: 100%;
	height: 100%;
	padding: 0;
}
}

/*技能掌握模块样式*/

/*我的作品模块样式*/

/*个人履历模块样式*/

/*联系我模块样式